Flask==3.0.0

# Computer Vision
opencv-python-headless==4.9.0.80

# NumPy & Helpers (Golden Combo for ARM)
numpy==1.26.4
ml_dtypes==0.4.1

# Hardware / Serial
pyserial==3.5
RPi.GPIO==0.7.1; platform_machine == "armv7l" or platform_machine == "aarch64"

# Face Recognition
insightface>=0.7.3
onnx==1.14.1

# ONNX Runtime (Specific version for stability)
onnxruntime==1.23.2; platform_machine == "aarch64"
onnxruntime; platform_machine != "armv7l" and platform_machine != "aarch64"